# Project 2 - Football Analysis
##### Author: Louis Bademosi

##### Note to self:
- Start with the plan
- Remember to use auto pep8 for clean idiomatic code
- Build at least 2 classes to help do get each portion of the project done. Cleaning, EDA, Extracting the data etc.
- Some of the language is german so I may need to translate the columns eg. kader means squad
---

 ### Questions to Answer 
 ##### What the the MongoDB instance has to contain: 
 
* The name of the team
* The total number of goals scored by the team during the 2011 season
* The total number of wins the team earned during the 2011 season
* A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly by assigning it to a variable)
* The team's win percentage on days where it was raining during games in the 2011 season.

# Project Plan
- query the 2011 data only
- inner join other tables to 2011 data tables  
- very quick search for any cleaning required isnull() etc.
- create 1 datafame containing [Team| Goals Scored| Games Won| Games Lost]
- create a histogram plot for each teams wins/loses

#### The last question is the real work:
- gain access to the weather in berlin for the dates of the matches
- create a datafame containing [Match id| Date| Weather| Home Team| Away Team]
- Find out for each team their win/loss outcome on the day it rained

---

# Load data and light inspection

In [65]:
import pandas as pd
import requests
import sqlite3

In [66]:
conn = sqlite3.connect("database.sqlite")
cur = conn.cursor()

In [77]:
"""Filtering for just the 2011 games, then relabelling the last 3 columns from the abreviations to clear names. 
Also changing H, A, and D values in the results table to explicitly say home, away, or draw"""


cur.execute("""SELECT *
               FROM Matches
               WHERE season = '2011' 
               ;""")

matches_df = pd.DataFrame(cur.fetchall())
matches_df.columns = [x[0] for x in cur.description]
matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D
5,1097,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
6,1098,D1,2011,2012-02-04,Hamburg,Bayern Munich,1,1,D
7,1099,D1,2011,2012-04-21,Werder Bremen,Bayern Munich,1,2,A
8,1100,D1,2011,2011-09-18,Schalke 04,Bayern Munich,0,2,A
9,1101,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
10,1102,D1,2011,2011-10-01,Hoffenheim,Bayern Munich,0,0,D
11,1103,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H
12,1104,D1,2011,2011-08-27,Kaiserslautern,Bayern Munich,0,3,A
13,1105,D1,2011,2012-03-17,Hertha,Bayern Munich,0,6,A
14,1106,D1,2011,2011-11-06,Augsburg,Bayern Munich,1,2,A
15,1107,D1,2011,2012-05-05,FC Koln,Bayern Munich,1,4,A
16,1108,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H
17,1109,D1,2011,2011-08-27,Leverkusen,Dortmund,0,0,D
18,1110,D1,2011,2011-12-17,Freiburg,Dortmund,1,4,A
19,1111,D1,2011,2012-02-18,Hertha,Dortmund,0,1,A
20,1112,D1,2011,2012-02-03,Nurnberg,Dortmund,0,2,A
21,1113,D1,2011,2011-08-13,Hoffenheim,Dortmund,1,0,H
22,1114,D1,2011,2011-10-29,Stuttgart,Dortmund,1,1,D
23,1115,D1,2011,2012-01-22,Hamburg,Dortmund,1,5,A
24,1116,D1,2011,2011-12-03,M'gladbach,Dortmund,1,1,D
25,1117,D1,2011,2012-04-14,Schalke 04,Dortmund,1,2,A
26,1118,D1,2011,2011-09-18,Hannover,Dortmund,2,1,H
27,1119,D1,2011,2012-03-25,FC Koln,Dortmund,1,6,A
28,1120,D1,2011,2012-03-10,Augsburg,Dortmund,0,0,D
29,1121,D1,2011,2012-04-07,Wolfsburg,Dortmund,1,3,A
...,...,...,...,...,...,...,...,...,...
962,44845,E0,2011,2012-04-28,Swansea,Wolves,4,4,D
963,44846,E0,2011,2012-04-28,West Brom,Aston Villa,0,0,D
964,44847,E0,2011,2012-04-28,Wigan,Newcastle,4,0,H
965,44848,E0,2011,2012-04-29,Chelsea,QPR,6,1,H
966,44849,E0,2011,2012-04-29,Tottenham,Blackburn,2,0,H
967,44850,E0,2011,2012-04-30,Man City,Man United,1,0,H
968,44851,E0,2011,2012-05-01,Liverpool,Fulham,0,1,A
969,44852,E0,2011,2012-05-01,Stoke,Everton,1,1,D
970,44853,E0,2011,2012-05-02,Bolton,Tottenham,1,4,A
971,44854,E0,2011,2012-05-02,Chelsea,Newcastle,0,2,A
972,44855,E0,2011,2012-05-05,Arsenal,Norwich,3,3,D
973,44856,E0,2011,2012-05-06,Aston Villa,Tottenham,1,1,D
974,44857,E0,2011,2012-05-06,Bolton,West Brom,2,2,D
975,44858,E0,2011,2012-05-06,Fulham,Sunderland,2,1,H
976,44859,E0,2011,2012-05-06,Man United,Swansea,2,0,H
977,44860,E0,2011,2012-05-06,Newcastle,Man City,0,2,A
978,44861,E0,2011,2012-05-06,QPR,Stoke,1,0,H
979,44862,E0,2011,2012-05-06,Wolves,Everton,0,0,D
980,44863,E0,2011,2012-05-07,Blackburn,Wigan,0,1,A
981,44864,E0,2011,2012-05-08,Liverpool,Chelsea,4,1,H
982,44865,E0,2011,2012-05-13,Chelsea,Blackburn,2,1,H
983,44866,E0,2011,2012-05-13,Everton,Newcastle,3,1,H
984,44867,E0,2011,2012-05-13,Man City,QPR,3,2,H
985,44868,E0,2011,2012-05-13,Norwich,Aston Villa,2,0,H
986,44869,E0,2011,2012-05-13,Stoke,Bolton,2,2,D
987,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A
988,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H
989,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H
990,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A
991,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H

In [13]:
cur.execute("""SELECT *
               FROM Teams
               WHERE season = '2011'
               """)

teams_df = pd.DataFrame(cur.fetchall())
teams_df.columns = [x[0] for x in cur.description]
teams_df

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2011,Bayern Munich,24,25,11,335600000,13980000,75000
1,2011,Dortmund,28,24,12,158200000,5650000,81359
2,2011,Leverkusen,29,23,9,151100000,5210000,30210
3,2011,Schalke 04,37,24,20,136730000,3700000,62271
4,2011,Werder Bremen,38,23,17,125350000,3300000,42100
5,2011,Wolfsburg,44,25,28,122000000,2770000,30000
6,2011,Hamburg,36,23,23,103200000,2870000,57376
7,2011,Stuttgart,32,24,18,101880000,3180000,60449
8,2011,Hoffenheim,34,23,20,93600000,2750000,30164
9,2011,FC Koln,31,24,17,69290000,2240000,49968
10,2011,Hannover,31,25,16,68850000,2220000,49200
11,2011,M'gladbach,28,23,15,59080000,2110000,54014
12,2011,Freiburg,34,24,17,57400000,1690000,24000
13,2011,Mainz,30,25,18,55100000,1840000,34000
14,2011,Hertha,30,24,16,50350000,1680000,74475
15,2011,Kaiserslautern,36,23,20,50050000,1390000,49780
16,2011,Nurnberg,30,23,12,43180000,1440000,50000
17,2011,Augsburg,32,25,15,34980000,1090000,30660
18,2011,Ein Frankfurt,36,24,18,51400000,1430000,47728
19,2011,St Pauli,30,25,6,25600000,853000,47728
20,2011,Cottbus,32,24,12,22550000,705000,47728
21,2011,Bochum,32,24,9,21330000,666000,47728
22,2011,Fortuna Dusseldorf,29,24,10,20080000,692000,47728
23,2011,Greuther Furth,28,24,11,19580000,699000,47728
24,2011,Munich 1860,31,24,8,19500000,629000,47728
25,2011,Aachen,34,24,11,19400000,571000,47728
26,2011,Ingolstadt,32,26,10,18250000,570000,47728
27,2011,Duisburg,30,24,19,17930000,598000,47728
28,2011,Karlsruhe,38,25,16,16700000,439000,47728
29,2011,Dresden,31,25,11,16550000,534000,47728
30,2011,Frankfurt FSV,33,24,17,14850000,450000,47728
31,2011,Erzgebirge Aue,27,25,3,14000000,519000,47728
32,2011,Hansa Rostock,29,24,6,11950000,412000,47728
33,2011,Union Berlin,28,24,8,10800000,386000,47728
34,2011,Paderborn,26,24,7,10680000,411000,47728
35,2011,Braunschweig,29,24,6,8180000,282000,47728

In [14]:
cur.execute("""SELECT *
               FROM Teams_in_Matches""")

match_team_df = pd.DataFrame(cur.fetchall())
match_team_df.columns = [x[0] for x in cur.description]
match_team_df

       Match_ID  Unique_Team_ID
0             1              26
1             1              46
2             2              26
3             2              42
4             3              26
5             3              44
6             4              29
7             4              44
8             5              29
9             5              49
10            6              29
11            6              35
12            7              21
13            7              29
14            8              29
15            8              30
16            9              26
17            9              29
18           10              29
19           10              33
20           11              24
21           11              29
22           12              29
23           12              48
24           13              29
25           13              46
26           14              29
27           14              31
28           15              29
29           15              32
...         ...             ...
49118     46760              83
49119     46760             112
49120     46761              81
49121     46761             109
49122     46762              85
49123     46762             117
49124     46763              89
49125     46763              99
49126     46764              92
49127     46764             104
49128     46765              81
49129     46765              93
49130     46766              90
49131     46766             124
49132     46767              83
49133     46767             109
49134     46768              92
49135     46768             122
49136     46769             104
49137     46769             128
49138     46770              84
49139     46770             107
49140     46771              99
49141     46771             103
49142     46772              89
49143     46772             123
49144     46773             117
49145     46773             126
49146     46774              85
49147     46774             112

[49148 rows x 2 columns]

In [15]:
cur.execute("""SELECT *
               FROM Unique_Teams""")

unique_teams_df = pd.DataFrame(cur.fetchall())
unique_teams_df.columns = [x[0] for x in cur.description]
unique_teams_df

               TeamName  Unique_Team_ID
0         Bayern Munich               1
1              Dortmund               2
2            Leverkusen               3
3            RB Leipzig               4
4            Schalke 04               5
5            M'gladbach               6
6             Wolfsburg               7
7               FC Koln               8
8            Hoffenheim               9
9                Hertha              10
10                Mainz              11
11              Hamburg              12
12        Werder Bremen              13
13        Ein Frankfurt              14
14             Augsburg              15
15             Freiburg              16
16            Stuttgart              17
17             Hannover              18
18           Ingolstadt              19
19            Darmstadt              20
20            Paderborn              21
21             Nurnberg              22
22         Braunschweig              23
23       Greuther Furth              24
24   Fortuna Dusseldorf              25
25       Kaiserslautern              26
26             St Pauli              27
27               Bochum              28
28            Karlsruhe              29
29            Bielefeld              30
..                  ...             ...
98           Man United              99
99                  QPR             100
100      Sheffield Weds             101
101             Swindon             102
102      Crystal Palace             103
103           Leicester             104
104       Nott'm Forest             105
105              Bolton             106
106       Middlesbrough             107
107               Derby             108
108          Sunderland             109
109            Barnsley             110
110            Charlton             111
111             Watford             112
112            Bradford             113
113              Fulham             114
114          Birmingham             115
115         Middlesboro             116
116           West Brom             117
117          Portsmouth             118
118              Wolves             119
119               Wigan             120
120             Reading             121
121                Hull             122
122               Stoke             123
123             Burnley             124
124           Blackpool             125
125             Swansea             126
126             Cardiff             127
127         Bournemouth             128

[128 rows x 2 columns]

# Filtering data and joining the tables I need

## First creating the total number of goals scored column

In [88]:
"""Selecting the home teams and the goals they scored"""

cur.execute("""SELECT HomeTeam AS TeamName, SUM(FTHG) AS HomeGoals
               FROM Matches
               WHERE season = '2011' 
               AND NOT Div = 'E0'
               GROUP BY HomeTeam
               ;""")





home_goals_df = pd.DataFrame(cur.fetchall())
home_goals_df.columns = [x[0] for x in cur.description]
home_goals_df

              TeamName  HomeGoals
0               Aachen         15
1             Augsburg         20
2        Bayern Munich         49
3               Bochum         23
4         Braunschweig         21
5              Cottbus         18
6             Dortmund         44
7              Dresden         30
8             Duisburg         23
9        Ein Frankfurt         38
10      Erzgebirge Aue         19
11             FC Koln         20
12  Fortuna Dusseldorf         35
13       Frankfurt FSV         20
14            Freiburg         24
15      Greuther Furth         46
16             Hamburg         19
17            Hannover         31
18       Hansa Rostock         20
19              Hertha         19
20          Hoffenheim         21
21          Ingolstadt         28
22      Kaiserslautern         12
23           Karlsruhe         23
24          Leverkusen         28
25          M'gladbach         29
26               Mainz         27
27         Munich 1860         35
28            Nurnberg         22
29           Paderborn         28
30          Schalke 04         47
31            St Pauli         36
32           Stuttgart         36
33        Union Berlin         30
34       Werder Bremen         31
35           Wolfsburg         29

In [71]:
"""Selecting the away teams and the goals they scored"""

cur.execute("""SELECT AwayTeam AS TeamName, SUM(FTAG) AS AwayGoals
               FROM Matches
               WHERE season = '2011' 
               AND NOT Div = 'E0'
               GROUP BY AwayTeam
               ;""")



away_goals_df = pd.DataFrame(cur.fetchall())
away_goals_df.columns = [x[0] for x in cur.description]
away_goals_df

              TeamName  AwayGoals
0               Aachen         15
1             Augsburg         16
2        Bayern Munich         28
3               Bochum         18
4         Braunschweig         16
5              Cottbus         12
6             Dortmund         36
7              Dresden         20
8             Duisburg         19
9        Ein Frankfurt         38
10      Erzgebirge Aue         12
11             FC Koln         19
12  Fortuna Dusseldorf         29
13       Frankfurt FSV         23
14            Freiburg         21
15      Greuther Furth         27
16             Hamburg         16
17            Hannover         10
18       Hansa Rostock         14
19              Hertha         19
20          Hoffenheim         20
21          Ingolstadt         15
22      Kaiserslautern         12
23           Karlsruhe         11
24          Leverkusen         24
25          M'gladbach         20
26               Mainz         20
27         Munich 1860         27
28            Nurnberg         16
29           Paderborn         23
30          Schalke 04         27
31            St Pauli         23
32           Stuttgart         27
33        Union Berlin         25
34       Werder Bremen         18
35           Wolfsburg         18

In [72]:
"""joining the two tables for away and home goals and creating a column for total goals"""

total_goals_df = home_goals_df.merge(away_goals_df, how="inner", on="TeamName")
total_goals_df['TotalGoals'] = total_goals_df['HomeGoals'] + total_goals_df['AwayGoals']
total_goals_df

              TeamName  HomeGoals  AwayGoals  TotalGoals
0               Aachen         15         15          30
1             Augsburg         20         16          36
2        Bayern Munich         49         28          77
3               Bochum         23         18          41
4         Braunschweig         21         16          37
5              Cottbus         18         12          30
6             Dortmund         44         36          80
7              Dresden         30         20          50
8             Duisburg         23         19          42
9        Ein Frankfurt         38         38          76
10      Erzgebirge Aue         19         12          31
11             FC Koln         20         19          39
12  Fortuna Dusseldorf         35         29          64
13       Frankfurt FSV         20         23          43
14            Freiburg         24         21          45
15      Greuther Furth         46         27          73
16             Hamburg         19         16          35
17            Hannover         31         10          41
18       Hansa Rostock         20         14          34
19              Hertha         19         19          38
20          Hoffenheim         21         20          41
21          Ingolstadt         28         15          43
22      Kaiserslautern         12         12          24
23           Karlsruhe         23         11          34
24          Leverkusen         28         24          52
25          M'gladbach         29         20          49
26               Mainz         27         20          47
27         Munich 1860         35         27          62
28            Nurnberg         22         16          38
29           Paderborn         28         23          51
30          Schalke 04         47         27          74
31            St Pauli         36         23          59
32           Stuttgart         36         27          63
33        Union Berlin         30         25          55
34       Werder Bremen         31         18          49
35           Wolfsburg         29         18          47

## Now I want to add 2 columns: total number of games won per team and the toal number of games lost

In [95]:
# first select the home teams and their total wins at home

cur.execute("""SELECT HomeTeam AS TeamName, COUNT(FTR) AS HomeWins
               FROM Matches
               WHERE season = '2011' 
               AND FTR = 'H'
               AND NOT Div = 'E0'
               GROUP BY HomeTeam
               ;""")


home_wins_df = pd.DataFrame(cur.fetchall())
home_wins_df.columns = [x[0] for x in cur.description]
home_wins_df

              TeamName  HomeWins
0               Aachen         4
1             Augsburg         6
2        Bayern Munich        14
3               Bochum         7
4         Braunschweig         6
5              Cottbus         4
6             Dortmund        14
7              Dresden         8
8             Duisburg         8
9        Ein Frankfurt        11
10      Erzgebirge Aue         5
11             FC Koln         5
12  Fortuna Dusseldorf        11
13       Frankfurt FSV         3
14            Freiburg         6
15      Greuther Furth        14
16             Hamburg         3
17            Hannover        10
18       Hansa Rostock         3
19              Hertha         4
20          Hoffenheim         4
21          Ingolstadt         6
22      Kaiserslautern         2
23           Karlsruhe         8
24          Leverkusen         8
25          M'gladbach         9
26               Mainz         7
27         Munich 1860        10
28            Nurnberg         6
29           Paderborn         9
30          Schalke 04        13
31            St Pauli        12
32           Stuttgart        10
33        Union Berlin        11
34       Werder Bremen         8
35           Wolfsburg        10

In [96]:
# then select the away teams and their total wins away

cur.execute("""SELECT AwayTeam AS TeamName, COUNT(FTR) AS AwayWins
               FROM Matches
               WHERE season = '2011' 
               AND FTR = 'A'
               AND NOT Div = 'E0'
               GROUP BY AwayTeam
               ;""")


away_wins_df = pd.DataFrame(cur.fetchall())
away_wins_df.columns = [x[0] for x in cur.description]
away_wins_df

              TeamName  AwayWins
0               Aachen         2
1             Augsburg         2
2        Bayern Munich         9
3               Bochum         3
4         Braunschweig         4
5              Cottbus         4
6             Dortmund        11
7              Dresden         4
8             Duisburg         2
9        Ein Frankfurt         9
10      Erzgebirge Aue         3
11             FC Koln         3
12  Fortuna Dusseldorf         5
13       Frankfurt FSV         4
14            Freiburg         4
15      Greuther Furth         6
16             Hamburg         5
17            Hannover         2
18       Hansa Rostock         2
19              Hertha         3
20          Hoffenheim         6
21          Ingolstadt         2
22      Kaiserslautern         2
23           Karlsruhe         1
24          Leverkusen         7
25          M'gladbach         8
26               Mainz         2
27         Munich 1860         7
28            Nurnberg         6
29           Paderborn         8
30          Schalke 04         7
31            St Pauli         6
32           Stuttgart         5
33        Union Berlin         3
34       Werder Bremen         3
35           Wolfsburg         3

In [97]:
# join home wins with away wins

total_wins_df = home_wins_df.merge(away_wins_df, how="inner", on="TeamName")
total_wins_df['TotalWins'] = total_wins_df['HomeWins'] + total_wins_df['AwayWins']
total_wins_df

              TeamName  HomeWins  AwayWins  TotalWins
0               Aachen         4         2          6
1             Augsburg         6         2          8
2        Bayern Munich        14         9         23
3               Bochum         7         3         10
4         Braunschweig         6         4         10
5              Cottbus         4         4          8
6             Dortmund        14        11         25
7              Dresden         8         4         12
8             Duisburg         8         2         10
9        Ein Frankfurt        11         9         20
10      Erzgebirge Aue         5         3          8
11             FC Koln         5         3          8
12  Fortuna Dusseldorf        11         5         16
13       Frankfurt FSV         3         4          7
14            Freiburg         6         4         10
15      Greuther Furth        14         6         20
16             Hamburg         3         5          8
17            Hannover        10         2         12
18       Hansa Rostock         3         2          5
19              Hertha         4         3          7
20          Hoffenheim         4         6         10
21          Ingolstadt         6         2          8
22      Kaiserslautern         2         2          4
23           Karlsruhe         8         1          9
24          Leverkusen         8         7         15
25          M'gladbach         9         8         17
26               Mainz         7         2          9
27         Munich 1860        10         7         17
28            Nurnberg         6         6         12
29           Paderborn         9         8         17
30          Schalke 04        13         7         20
31            St Pauli        12         6         18
32           Stuttgart        10         5         15
33        Union Berlin        11         3         14
34       Werder Bremen         8         3         11
35           Wolfsburg        10         3         13

In [144]:
# select the home teams and their total loses 
"""Hannover doesn't have any home loses so it has given me NaN values for Hannover after merging and adding the home 
loses and away loses tables. I will manually add Hannova and a '0 int' for their home loses to circumvent this"""

cur.execute("""SELECT HomeTeam AS TeamName, COUNT(FTR) AS HomeLoses
               FROM Matches
               WHERE season = '2011' 
               AND FTR = 'A'
               AND NOT Div = 'E0'
               GROUP BY HomeTeam
               ;""")


home_loses_df = pd.DataFrame(cur.fetchall())
home_loses_df.columns = [x[0] for x in cur.description]




new_row = [{"TeamName": "Hannover", "HomeLoses": 0}]
home_loses_df = home_loses_df.append(new_row, ignore_index=True, sort=False)

home_loses_df

              TeamName  HomeLoses
0               Aachen          7
1             Augsburg          4
2        Bayern Munich          2
3               Bochum          7
4         Braunschweig          3
5              Cottbus          5
6             Dortmund          1
7              Dresden          4
8             Duisburg          7
9        Ein Frankfurt          1
10      Erzgebirge Aue          5
11             FC Koln          8
12  Fortuna Dusseldorf          1
13       Frankfurt FSV          4
14            Freiburg          5
15      Greuther Furth          2
16             Hamburg          7
17       Hansa Rostock          7
18              Hertha         10
19          Hoffenheim          4
20          Ingolstadt          3
21      Kaiserslautern         10
22           Karlsruhe          6
23          Leverkusen          5
24          M'gladbach          1
25               Mainz          7
26         Munich 1860          5
27            Nurnberg          7
28           Paderborn          2
29          Schalke 04          3
30            St Pauli          2
31           Stuttgart          4
32        Union Berlin          4
33       Werder Bremen          5
34           Wolfsburg          5
35            Hannover          0

In [145]:
# select the away teams and their total loses 

cur.execute("""SELECT AwayTeam AS TeamName, COUNT(FTR) AS AwayLoses
               FROM Matches
               WHERE season = '2011' 
               AND FTR = 'H'
               AND NOT Div = 'E0'
               GROUP BY AwayTeam
               ;""")


away_loses_df = pd.DataFrame(cur.fetchall())
away_loses_df.columns = [x[0] for x in cur.description]
away_loses_df

              TeamName  AwayLoses
0               Aachen          8
1             Augsburg          8
2        Bayern Munich          5
3               Bochum         10
4         Braunschweig          6
5              Cottbus         10
6             Dortmund          2
7              Dresden          9
8             Duisburg          8
9        Ein Frankfurt          5
10      Erzgebirge Aue         10
11             FC Koln         12
12  Fortuna Dusseldorf          3
13       Frankfurt FSV          9
14            Freiburg          9
15      Greuther Furth          2
16             Hamburg          7
17            Hannover         10
18       Hansa Rostock         10
19              Hertha          7
20          Hoffenheim          9
21          Ingolstadt         10
22      Kaiserslautern          9
23           Karlsruhe         13
24          Leverkusen          5
25          M'gladbach          7
26               Mainz          6
27         Munich 1860          6
28            Nurnberg          9
29           Paderborn          5
30          Schalke 04          7
31            St Pauli          6
32           Stuttgart          7
33        Union Berlin         10
34       Werder Bremen          9
35           Wolfsburg         11

In [148]:
# join the home loses with the away loses, to create a column with total loses

total_loses_df = home_loses_df.merge(away_loses_df, how="inner", on="TeamName")
total_loses_df['TotalLoses'] = total_loses_df['HomeLoses'] + total_loses_df['AwayLoses']
total_loses_df

              TeamName  HomeLoses  AwayLoses  TotalLoses
0               Aachen          7          8          15
1             Augsburg          4          8          12
2        Bayern Munich          2          5           7
3               Bochum          7         10          17
4         Braunschweig          3          6           9
5              Cottbus          5         10          15
6             Dortmund          1          2           3
7              Dresden          4          9          13
8             Duisburg          7          8          15
9        Ein Frankfurt          1          5           6
10      Erzgebirge Aue          5         10          15
11             FC Koln          8         12          20
12  Fortuna Dusseldorf          1          3           4
13       Frankfurt FSV          4          9          13
14            Freiburg          5          9          14
15      Greuther Furth          2          2           4
16             Hamburg          7          7          14
17       Hansa Rostock          7         10          17
18              Hertha         10          7          17
19          Hoffenheim          4          9          13
20          Ingolstadt          3         10          13
21      Kaiserslautern         10          9          19
22           Karlsruhe          6         13          19
23          Leverkusen          5          5          10
24          M'gladbach          1          7           8
25               Mainz          7          6          13
26         Munich 1860          5          6          11
27            Nurnberg          7          9          16
28           Paderborn          2          5           7
29          Schalke 04          3          7          10
30            St Pauli          2          6           8
31           Stuttgart          4          7          11
32        Union Berlin          4         10          14
33       Werder Bremen          5          9          14
34           Wolfsburg          5         11          16
35            Hannover          0         10          10

In [149]:
# join the total wins with the total loses
all_winsLoses = total_wins_df.merge(total_loses_df, how="inner", on="TeamName")
all_winsLoses

,TeamName,HomeWins,AwayWins,TotalWins,HomeLoses,AwayLoses,TotalLoses
0,Aachen,4,2,6,7,8,15
1,Augsburg,6,2,8,4,8,12
2,Bayern Munich,14,9,23,2,5,7
3,Bochum,7,3,10,7,10,17
4,Braunschweig,6,4,10,3,6,9
5,Cottbus,4,4,8,5,10,15
6,Dortmund,14,11,25,1,2,3
7,Dresden,8,4,12,4,9,13
8,Duisburg,8,2,10,7,8,15
9,Ein Frankfurt,11,9,20,1,5,6
10,Erzgebirge Aue,5,3,8,5,10,15
11,FC Koln,5,3,8,8,12,20
12,Fortuna Dusseldorf,11,5,16,1,3,4
13,Frankfurt FSV,3,4,7,4,9,13
14,Freiburg,6,4,10,5,9,14
15,Greuther Furth,14,6,20,2,2,4
16,Hamburg,3,5,8,7,7,14
17,Hannover,10,2,12,0,10,10
18,Hansa Rostock,3,2,5,7,10,17
19,Hertha,4,3,7,10,7,17
20,Hoffenheim,4,6,10,4,9,13
21,Ingolstadt,6,2,8,3,10,13
22,Kaiserslautern,2,2,4,10,9,19
23,Karlsruhe,8,1,9,6,13,19
24,Leverkusen,8,7,15,5,5,10
25,M'gladbach,9,8,17,1,7,8
26,Mainz,7,2,9,7,6,13
27,Munich 1860,10,7,17,5,6,11
28,Nurnberg,6,6,12,7,9,16
29,Paderborn,9,8,17,2,5,7
30,Schalke 04,13,7,20,3,7,10
31,St Pauli,12,6,18,2,6,8
32,Stuttgart,10,5,15,4,7,11
33,Union Berlin,11,3,14,4,10,14
34,Werder Bremen,8,3,11,5,9,14
35,Wolfsburg,10,3,13,5,11,16

In [ ]:
## Visualisations for each teams wins and loses